@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

input[type="radio"]:checked {
  accent-color: #008b57;
}
